apiVersion: agentgateway.dev/v1alpha1
kind: AgentgatewayPolicy
metadata:
  name: extauth-server-policy
  labels:
    app: extauth-server
spec:
  targetRefs:
    - group: gateway.networking.k8s.io
      kind: Gateway
      name: extauth-gateway
  traffic:
    extAuth:
      backendRef:
        group: ""
        kind: Service
        name: extauth-server
        port: 9000
      grpc: {}
---
apiVersion: agentgateway.dev/v1alpha1
kind: AgentgatewayPolicy
metadata:
  name: extauth-server-timeout-policy
  labels:
    app: extauth-server
spec:
  targetRefs:
    - group: ""
      kind: Service
      name: extauth-server
  backend:
    http:
      requestTimeout: 30s
---
apiVersion: gateway.kgateway.dev/v1alpha1
kind: GatewayExtension
metadata:
  name: default-extauth
spec:
  extAuth:
    grpcService:
      backendRef:
        group: ""
        kind: Service
        name: extauth-server
        port: 9000
      requestTimeout: "30s"
---
apiVersion: gateway.kgateway.dev/v1alpha1
kind: TrafficPolicy
metadata:
  name: extauth-for-kgw
spec:
  targetRefs:
    - group: gateway.networking.k8s.io
      kind: Gateway
      name: extauth-kgateway
  extAuth:
    extensionRef:
      name: default-extauth